/* Colors */
/* Color Theme Swatches in Hex */
.Mahjong-2D-Game-Graphic-match3-1-hex {
	color: #3462bf;
}
.Mahjong-2D-Game-Graphic-match3-2-hex {
	color: #308ad9;
}
.Mahjong-2D-Game-Graphic-match3-3-hex {
	color: #f2b705;
}
.Mahjong-2D-Game-Graphic-match3-4-hex {
	color: #bf5517;
}
.Mahjong-2D-Game-Graphic-match3-5-hex {
	color: #f20505;
}
/* General rules */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-size: auto;
}

/* Logo */
h1 {
	display: inline-block;
	margin: 10px auto;
	font-family: 'Montserrat', sans-serif;
	color: #50cad8;
}

#title {
	margin-top: 3vh;
	color: #fb3d6a;
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	opacity: 0.9;
	filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8));
	transition: filter 0.5s;
	transition: transform 0.3s;
}

#title:hover {
	filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.8));
	transform: scale(1.03);
}

/* Turn */
.turn {
	position: absolute;
	right: 10%;
	top: 30%;
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	opacity: 0.9;
	filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8));
	transition: filter 0.5s;
	transition: transform 0.3s;
}

.turn:hover {
	filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.8));
	transform: scale(1.03);
}

/* Score */
#score {
	display: inline-block;
	padding: 10px;
	margin: 0 auto;
	width: 40vh;
	background-color: white;
	opacity: 0.9;
	border-radius: 15px;
	filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8));
	transition: filter 0.5s;
	transition: transform 0.3s;
}

#score:hover {
	filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.8));
	transform: scale(1.03);
}

.points p {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-family: 'Montserrat', sans-serif;
	color: #50cad8;
	font-size: 30px;
}

/* Gameboard */
.container {
	align-items: center;
	margin: 5vh auto 5vh;
}

#game-box {
	background-color: white;
	opacity: 0.9;
	padding: 20px;
	height: 40vh;
	width: 40vh;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8));
	transition: filter 0.5s;
	transition: transform 0.3s;
}

#game-box:hover {
	filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.8));
	transform: scale(1.01);
}

.row {
	display: flex;
	justify-content: space-evenly;
	height: 33%;
}

.box {
	width: 33%;
	margin: 2px;
	padding: 5px;
	transition: 0.6s all ease-out;
}

.box:hover {
	background-color: #fc547b;
	border-radius: 100%;
}

.box img {
	margin: 5px;
}

/* Win Box */
#win {
	opacity: 0;
	margin: 5px auto;
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8));
}

/* Dividing lanes */
#box1 {
	border-bottom: 2px solid #fc547b;
	border-right: 2px solid #fc547b;
}
#box3 {
	border-bottom: 2px solid #fc547b;
	border-left: 2px solid #fc547b;
}
#box7 {
	border-top: 2px solid #fc547b;
	border-right: 2px solid #fc547b;
}
#box9 {
	border-top: 2px solid #fc547b;
	border-left: 2px solid #fc547b;
}

#background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#background div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../img/background.svg');
}

@media only screen and (max-width: 750px) {
	.turn {
		top: 10px;
		right: 10px;
		transform: scale(0.6);
		width: 30%;
		margin: 5px;
		width: fit-content;
	}

	.turn h1 {
		text-align: center;
	}

	.points p {
		font-size: 20;
	}

	#title {
		font-size: 10;
		margin: 40px 10px;
		width: fit-content;
		transform: scale(0.7);
	}

	#game-box {
		margin-top: 1vh;
	}
}
